body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: black;
    background-color: white;
}


#options_container img {
    display: block;
    margin: auto;
    width: 60px;
}
h1, h3 {
    display: block;
    width: 50%;
    margin: 30px auto 20px auto;
    text-align: center;
}


#options_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;

}
.rock, .paper, .scissors {
    display: grid;
    position: relative;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px 0px #919191;
}

.rock {
    background-color: #fa8072;
}
.paper {
    background-color: #afeeee;
}
.scissors {
    background-color: #f5deb3;
}
.options img {
    position: relative;
    left: 0;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0px;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    opacity: 0;
    border-radius: 40px;
    box-sizing: border-box;
    transition: .2s ease;
}
.rock .overlay {
    background-color: #fa8072;
}
.paper .overlay {
    background-color: #afeeee;
}
.scissors .overlay {
    background-color: #f5deb3;
}
.text {
    position: relative;
    top: 0px;
    left: 0px;
}



#fight_container {
    height: 120px;
    width: 640px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
}
#fight_container img {
    width: 90px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#my_play, #comp_play {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 60px;
    opacity: 0;
    display: flex;
    box-shadow: 0 0 10px 0 #919191;
}
#my_play {
    align-content: flex-start;
    left: 0px;
    opacity: 0;
}
#my_play img {
    left: 0;
    z-index: 10;
    opacity: 0;
}
#comp_play {
    align-content: flex-end;
}
#comp_play img {
    position: relative;
    left: 0;
    z-index: 10;
    opacity: 0;
}
.label {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 60px;
    height: 120px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    z-index: 20;
}
.label span {
    display: block;
    position: relative;
    height: 40px;
    top: 40px;
}
#my_play .label {
    background-color: grey;
    opacity: 0;
}
#comp_play .label {
    background-color: grey;
    opacity: 0;
}
#narration .label {
    background-color: white;
    opacity: 1;
}
#narration {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    z-index: 1;
    opacity: 0;
}
#narration span {
    display: block;
    position: relative;
    top: 40px;
    margin: auto;
    color: black;
    z-index: 5;
}





#results {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: auto;
}
#results > div {
    width: 120px;
    height: 30px;
    text-align: center;
}
.wins {
    font-size: 20px;
}
#my_score {
margin: 20px;
text-align: center;
font-size: 80px;
}
#computer_score {
margin: 20px;
text-align: center;
font-size: 80px;
}